@*@model PlayGround.Models.User*@
@model PlayGround.Models.Login
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@ViewBag.Message</h3>
</div>
<div class="row">



    @using (Html.BeginForm())
    {


        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.LoginIdTxt, htmlAttributes: new { @name = "loginName", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginIdTxt, new { htmlAttributes = new { @name = "loginName", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginIdTxt, "", new { @name = "loginName", @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PasswordTxt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordTxt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordTxt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Index" class="btn btn-default" />
            </div>
        </div>

       

    }



</div>